table.bet tr td{
    border:none;
    padding: 0px;
    text-align: left;    
    font-size: small;
}

table.bet tr td.odds {
    text-align: right;
}

div#mobile-betslip{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:0;
    padding:0;
    overflow: hidden;
    height: 100vh;
}

div#mobile-betslip div.modal-content{
    height: 100%;
}