body{
    height:100%;
    color:black;
  }


.card{
    width:auto;
}
.btn {
    border: 1px solid #66FCF1;
    border-radius: 12px;
    color: white;
    background-color: black;
}

.btn:hover{
    background-color: #45A29E;
}

/* 

.tableWrapper{
    height: 350;
    overflow-y: auto;
}

th{
    background-color: #282828;
    color: #66FCF1;
}

tr{
    background-color: #1F2833;
}

td{
    color:white;
    padding: 0px;
} */


/* For Navbar collapsed button */
.navbar-toggler{
    background-color:  black;
}


/* For Results tables in exercise history */
/* .tableBodyScroll tbody {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
  }
  
  .tableBodyScroll thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
   */

