.book{
    position:relative;
    height: 70vh;
    overflow-y: scroll;
}

.icon{
    margin: 10px;
}

.book-nav{
    position: absolute;
    left: 50%;
    top:5px;
    transform:translateX(-50%)
}

@media (max-width: 991px) { 
    .book-footer{
        position:fixed;
        bottom: 0;
        left:0;
        width:100%;
        height:56px;
    }
}

.see-more-btn{
    border: 1.5px solid black;
    background-color: white;
    color:black;
    border-radius: 0;
    font-size: small;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: -25px;
    width: 100%;

}

.see-more-btn:hover{
    background-color: black;
    color: white;
}

.sport-header{
    background-color: rgb(220,220,220) ;
    padding: 10px;
}

#betCount{
    position: relative;
    z-index: 10;
    border-radius: 50%;
    width: 18px;
    line-height: 18px;
    text-align: center;
    background: red;
    color: white;
    font-size: small;
    margin-top: -45px;
    margin-left: 25px;
    opacity: 1;
}

