/* body{
    background-color: #d7d7d7;
}

.main-nav{
    margin-left: 0px;
    border-radius: 5px;
    height: 100px;
    padding-left: 0px;
}

#main-container{
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px red;
    height: 100vh
} */