@media only screen and (max-width: 1026px) {
    .hidden-md {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    body{
        font-size: large;
    }
    th{
        font-size: 13px;
    }
    td{
        font-size: 10px;
    }
    h3{
        font-size: 15px;
    }
}

@media only screen and (min-width: 1027px) {
    .hidden-lg {
        display: none;
    }
}