.post{
    display: flex;
    border-top: 0.5px solid lightblue;
    text-align: left;
    padding: 10px;
    font-size: small;
}

.post-content p{
    margin:0;
}

.post-content{
    margin-right: 0px;
    width: 1000px;
}

.writeup{
    text-align: left;
    white-space: pre-wrap;
}


img.post-prof{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 2em;
}

div.post-prof-col{
    display: inline-block;
    width: 75px;

}

div.post-content div{
    height: fit-content;
    margin-bottom: 1em;
}