.post{
    border-top: 0.5px solid lightblue;
    text-align: left;
    padding: 10px;
    font-size: small;
}

.post-bet p{
    margin:0;
    border-right: 0.5px solid lightblue;     
}

.post-bet{
    margin-right: 0px;
    width: 1000px;
}

.writeup{
    text-align: left;
    white-space: pre-wrap;
}


img.post-prof{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 2em;
    margin-top: -10px;
}
div.post-info{
    display: inline-block;
    height: 50px;
}